body{
    padding: 0;
    margin: 0;
    background-color:#70d5f1;
}

.add-note{
    padding: 30px;
    display: flex;
    justify-content: end; 
}
button{
    padding:5px 10px;
    border: none;
    border-radius: 5px;
    background-color:#94c158;
    color: aliceblue;
    font-size:15px ;
    font-weight: 600;
}

.note-span::before{
    content: "\2b";
    padding-right: 2px;
    font-family: "FontAwesome";
    font-size: 12px;
}
.edit::before{
    content: "\f044";
}
.remove::before{
    content: "\f1f8 ";
}

a::before {
    font-family: "FontAwesome";
    font-size: 13px;
    float: right;
    text-indent: 0;
    color: white;
  }
